.page {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 375px;
  height: 812px;
  .item-long-wrapper {
    display: flex;
    position: absolute;
    top: 0px;
    align-items: flex-start;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    .item-long {
      width: 375px;
      height: 817px;
    }
  }
  .entry-pic-wrapper {
    display: flex;
    position: absolute;
    top: 0px;
    align-items: flex-start;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    .entry-pic {
      width: 376px;
      height: 205px;
    }
  }
  .action-bg-wrapper {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    margin-top: 123px;
    .action-bg {
      width: 309px;
      height: 56px;
    }
  }
  .wrapper-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
    position: relative;
    .group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 375px;
      position: static;
      top: 0;
      left: 0;
      .layer {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 375px;
        height: 252px;
      }
      .background-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        width: 311px;
        height: 324px;
        line-height: 26px;
        text-align: center;
        position: relative;
        white-space: nowrap;
        .background {
          position: absolute;
          top: 0px;
          align-self: center;
          width: 311px;
          height: 324px;
          line-height: normal;
          white-space: normal;
        }
        .desc {
          margin-top: 46px;
          height: 26px;
          font-weight: 400;
          font-size: 14px;
          color: #7d0000;
          position: relative;
          max-width: 239px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .detail {
          margin-top: 25px;
          height: 26px;
          font-weight: 400;
          font-size: 14px;
          color: #7d0000;
          position: relative;
          max-width: 239px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .desc-1 {
          margin-top: 1px;
          height: 26px;
          font-weight: 400;
          font-size: 14px;
          color: #7d0000;
          position: relative;
          max-width: 239px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .detail-1 {
          height: 26px;
          font-weight: 400;
          font-size: 14px;
          color: #7d0000;
          position: relative;
          max-width: 241px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .tag {
          margin-top: 26px;
          height: 26px;
          font-weight: 400;
          font-size: 14px;
          color: #7d0000;
          position: relative;
          white-space: pre;
          max-width: 241px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .desc-2 {
          position: relative;
          align-self: center;
          max-width: 239px;
          height: 26px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #7d0000;
          font-size: 14px;
          font-weight: 400;
        }
        .info {
          height: 26px;
          font-weight: 400;
          font-size: 14px;
          color: #7d0000;
          position: relative;
          max-width: 241px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .primary {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      position: static;
      .button-bg-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 375px;
        height: 288px;
        background-image: url(https://ai-sample.oss-cn-hangzhou.aliyuncs.com/test/9d3dc9a0c41d11ebac087f5b49da2cb7.png);
        background-size: contain;
        .button-bg {
          margin-top: 130px;
          width: 354px;
          height: 127px;
        }
      }
    }
  }
}
